@import "mocha.css";

* {
    font-family: Symbols Nerd Font, Inter, sans-serif;
    font-size: 11pt;
    border: 0;
    border-radius: 0;
}

window#waybar {
    background-color: @base;
    color: @text;
}

label {
    padding: 0.3rem 0.7rem;
}

#cpu {
    background-color: @peach;
    color: @mantle;
}

#memory {
    background-color: @flamingo;
    color: @mantle;
}

#disk {
    background-color: @sapphire;
    color: @mantle;
}

#pulseaudio {
    background-color: @lavender;
    color: @mantle;
}

#pulseaudio.muted {
    background-color: @yellow;
}

#network {
    color: @mantle;
}

#network.disabled {
    background-color: @red;
}

#network.disconnected {
    background-color: @maroon;
}

#network.linked {
    background-color: @pink;
}

#network.ethernet, #network.wifi {
    background-color: @sapphire;
}

#battery {
    color: @mantle;
}

#battery.full {
    background-color: @sapphire;
}

#battery.plugged {
    background-color: @green;
}

#battery.discharging {
    background-color: @teal;
}

#battery.warning {
    background-color: @maroon;
}

#battery.critical {
    background-color: @red;
}

#tray {
    background-color: @peach;
    padding: 0 0.5rem;
}


