[Desktop Entry]
Type=Application
Exec=bash -c "ksuperkey -e 'Super_L=Alt_L|F1'; ksuperkey -e 'Super_R=Alt_L|F1';"
Terminal=false
Hidden=false
Name=super-key-menu
